.header {
    margin-top: 18rem;
    color: #333;
}

.header h1 {
    color: #3320bd;
}

.red {
    color: #bd2020 !important;
}

a {
    color: #3320bd;
    text-decoration: none;
}

a:hover, a:visited {
    color: #3320bd;
    text-decoration: underline;
}
